@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TTTN3.Models.size

@{
    ViewData["Title"] = "Create_Size";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm kích thước</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_Size" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="size_Name" class="control-label">Kích thước</label>
                <input asp-for="size_Name" class="form-control" />
                <span asp-validation-for="size_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List_Size" asp-controller="Size" asp-area="Admin">Danh sách</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
