@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityUser
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Delete account";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this account?</h3>
<div>
    <h4>account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete_account" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index_account" asp-area="Admin" asp-controller="account" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
