@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityRole
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Create role";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm quyền người dùng</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_role" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Quyền</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index_role" asp-controller="Role" asp-area="Admin">Danh sách</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
