@model TTTN3.Models.promotion
@{
    ViewData["Title"] = "Khuyến mại";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
<style>
    .spad {
        padding-top: 20px;
    }

    .input-group-append {
        border: 1px solid #e1e1e1;
        color: black;
    }

</style>
<!-- promotion Details Hero Begin -->
@if (Model != null && !string.IsNullOrEmpty(Model.promotion_Image))
{
    <section class="hero__item set-bg" data-setbg="@Url.Content("~/Images/Promotion/" + Model.promotion_Image)"
             style="background-image: url('@Url.Content("~/Images/Promotion/" + Model.promotion_Image)'); width:100%;height:500px">
        
    </section>

<!-- promotion Details Hero End -->
<!-- promotion Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
                <h2>@Model.promotion_Title</h2>
                <h4 style="color:red;">Giảm giá 10% toàn bộ cửa hàng</h4>
            <div class="blog__details__text">
                @Html.Raw(Model.promotion_Detail)
            </div>
        </div>
    </section>
}
else
{
    <h2>Không có chương trình khuyến mại!</h2>
}
<!-- promotion Details Section End -->
<!-- Related promotion Section Begin -->

<!-- Related promotion Section End -->