@model TTTN3.Models.blog
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Thêm tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm tin tức</h1>

<h4>Tin tức</h4>
<hr />
<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data" asp-action="Create_Blog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="blog_Code" class="control-label">Blog code</label>
                <input asp-for="blog_Code" class="form-control"  />
                <span asp-validation-for="blog_Code" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="blog_Title" class="control-label">Tiêu đề</label>
                <input asp-for="blog_Title" class="form-control" />
                <span asp-validation-for="blog_Title" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="alias" class="control-label"></label>
            <input asp-for="alias" class="form-control" />
            <span asp-validation-for="alias" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="blog_Detail" class="control-label">Chi tiết</label>
                @* <input asp-for="blog_Detail" class="form-control" /> *@
                <textarea asp-for="blog_Detail" class="form-control" id="editor"></textarea>
                <span asp-validation-for="blog_Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog_Image" class="control-label">Ảnh đại diện</label>
                @* <input asp-for="blog_Image" class="form-control" /> *@
                <input type="file" asp-for="blog_Image" name="anhDaiDienFile" class="form-control" />
                <span asp-validation-for="blog_Image" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="blog_Date" class="control-label"></label>
            <input asp-for="blog_Date" class="form-control" />
            <span asp-validation-for="blog_Date" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List_Blog" asp-area="Admin" asp-controller="Blog">Danh sách</a>
</div>

