@model TTTN3.Models.blog
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit_Blog";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa tin tức</h1>

<h4>Tin tức</h4>
<hr />
<div class="row">
        <form asp-action="Edit_Blog" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="blog_Code" class="control-label">Mã </label>
                <input asp-for="blog_Code" class="form-control" readonly/>
                <span asp-validation-for="blog_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blog_Title" class="control-label">Tiêu đề</label>
                <input asp-for="blog_Title" class="form-control" />
                <span asp-validation-for="blog_Title" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="alias" class="control-label"></label>
                <input asp-for="alias" class="form-control" />
                <span asp-validation-for="alias" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="blog_Detail" class="control-label">Chi tiết</label>
                @* <input asp-for="blog_Detail" class="form-control" /> *@
                <textarea asp-for="blog_Detail" class="form-control" id="editor"></textarea>
                <span asp-validation-for="blog_Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="blog_Image" class="control-label"></label>
                <input asp-for="blog_Image" class="form-control" />
                <span asp-validation-for="blog_Image" class="text-danger"></span> *@
                <label asp-for="blog_Image" class="control-label">Ảnh đại diện</label>
                <img src="@Url.Content($"~/Images/Blog/" +Model.blog_Image )" alt="Blog Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />

                <input type="file" asp-for="blog_Image" name="anhDaiDienFile" class="form-control" />
                <span asp-validation-for="blog_Image" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="blog_Date" class="control-label"></label>
                <input asp-for="blog_Date" class="form-control" />
                <span asp-validation-for="blog_Date" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="List_Blog" asp-area="Admin" asp-controller="Blog">Danh sách</a>
</div>

