@model TTTN3.Models.material

@{
    ViewData["Title"] = "Edit material";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Sửa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit_Material" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="material_Code" class="control-label">Mã</label>
                <input asp-for="material_Code" class="form-control" readonly />
                <span asp-validation-for="material_Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="material_Name" class="control-label">Chất liệu</label>
                <input asp-for="material_Name" class="form-control" />
                <span asp-validation-for="material_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="List_Material" asp-controller="Material" asp-area="Admin">Danh sách</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
