@model TTTN3.Models.zipper
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete_Zipper";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa kiểu khóa</h1>

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.zipper_Code)
        </dd>
        <dt class="col-sm-2">
            Kiểu khóa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.zipper_Name)
        </dd>
    </dl>

    <form asp-action="Delete_Zipper" method="post" asp-route-zipper_Code="@ViewBag.ZipperCode">
        <input type="hidden" asp-for="zipper_Code" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="List_Zipper" asp-controller="Zipper" asp-area="Admin">Hủy</a>
    </form>
</div>
